body{
	background: url("../ResponsivePortfolio/assets/images/playstation.png");
}

.header{
	border-bottom: 1px solid gray;
}

.header h1{
	background: teal;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}

.header ul{
	padding-top: 15px;
}

.box{
	background: white;
	margin: 0 15px;
}

.box h1{
	border-bottom: 1px solid gray;
	color: teal;
}

.footer{
	color: white;
	background: gray;
	border-top: 2px solid teal;
	text-align: center;
	padding: 20px 0;
}