body{
	background: url("../ResponsivePortfolio/assets/images/playstation.png");
}

#profilePic{
	float: left;
	margin-right: 10px
}

.header{
	border-bottom: 1px solid gray;
	background: white;
}

.header h1{
	color: white;
	background: teal;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}

.header ul{
	padding-top: 15px;
}

.container{
	margin: 80px auto;
	height: 100%;
	position: relative;
}

#profilePic{
	height: 40%;
	width: 20%
}
.box1, .box2{
	background: white;
}

.box1{
	padding: 0 15px;
}

.box2 h1{
	text-align: center;
	color: teal;
	border-bottom: 1px solid gray;
    margin: 20px 15px 10px 15px;
   	font-size: 35px;
}

.box1 h1{
	color: teal;
	border-bottom: 1px solid gray;
	margin: 20px 15px 10px 15px;
}

.pics{
	margin: 0 auto;
}

.footer {
	position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    color: white;
    clear: both;
    font-size: small;
    text-align: center;
    background-color: #666666;
    border-top: 5px teal solid;
    width: 100%;
}

